# --- POCKETBASE CONFIG ---
# Clave para encriptar secretos en PocketBase
PB_ENCRYPTION_KEY=super_secret_key_change_me

# --- CLOUDFLARE TUNNEL ---
# Token para conectar el Cloudflare Tunnel. (Obtener en el dashboard de Zero Trust)
CLOUDFLARE_TUNNEL_TOKEN=ey...tu_token_aqui

# --- SSR LANDING CONFIG ---
# URL interna para conectar la Landing con el backend dentro de la red docker
POCKETBASE_URL=http://pocketbase:8080
# URL interna usada por el SSR server (puede diferir de POCKETBASE_URL en algunos setups)
PB_INTERNAL_URL=http://pocketbase:8080
# JWT del usuario de servicio landing-ssr@interno.local (generalo con: pb.collection('users').authWithPassword())
PB_SERVICE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
# URL pública base de la landing (usada por el generador de PDF para navegar)
PUBLIC_BASE_URL=https://tu-dominio.com

# Turnstile
TURNSTILE_SECRET_KEY=0x4AAAAAADRLIlTte3webnQKRZosDdq9504
TURNSTILE_SITE_KEY=0x4AAAAAADRLIkATPJWtW9zl

# --- SERVICIOS EXTERNOS (EJEMPLO) ---
BACKBLAZE_BUCKET_ID=xxx
BACKBLAZE_APPLICATION_KEY=yyy
